:root {
    --background: #1E1E1E;
    --text-color-main: #ffffff;
    --text-color-secondary: #c5c5c5;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

img, ion-icon, button, a {
    display: block;
}

span {
    display: inline-block;
}


::-webkit-scrollbar {
    width: 8px;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: #454545;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--background);
}

body {
    background-color: var(--background);
    font-family: monospace;
}

/* HEADDER */
.headder {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.headder h1 {
    color: var(--text-color-main);
    font-size: 26px;
}

.headder p {
    color: var(--text-color-secondary);
}


/* MAIN */
.main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


/* SVG */
svg {
}

svg {
    width: 300px;
    height: 300px;
}


/* INPUT */
.input-wrapper p {
    color: aliceblue;
}

.input-wrapper label {
    color: aliceblue;
}

.input-wrapper button {
    color: rgb(0, 255, 34);
}

.input-wrapper button:hover {
    color: rgb(3, 161, 24);
}


/* OUTPUT */
.results-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 500px;
}

#data-form fieldset {
    margin-bottom: 1%;
}

#result-table {
    border: 1px solid #444;
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

#result-table th, td {
    border: 1px solid #555;
    padding: 10px;
    text-align: center;
}

#result-table th {
    background-color: #333;
    color: #ffffff;
}

#result-table td {
    background-color: #2a2a2a;
    color: #ffffff;
}
